<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="UAT_Car_Sub" parallel="tests">

  <test name="Sign Up Pass">
  	<parameter name="Demo_Sign_Up_Pass" value="Windows 10"/>
  	<parameter name="browser" value="IE11"/>
  		<classes>
  			<class name="suite.UAT_Sign_Up_Pass_Test"/>
   		</classes>
  </test>
  
  <test name="Sign Up Fail">
  	<parameter name="Demo_Sign_Up_Fail" value="Mac OSX 10.14"/>
  	<parameter name="browser" value="Chrome73x64"/>
  		<classes>
  			<class name="suite.UAT_Sign_Up_Fail_Test"/>
   		</classes>
  </test>
  
  <test name="Sign Slider Pass">
  	<parameter name="Demo_Filters_Pass" value="Mac OSX 10.14"/>
  	<parameter name="browser" value="Safari12"/>
  		<classes>
  			<class name="suite.UAT_Filter_Slider_Pass_Test"/>
   		</classes>
  </test>
  
  <test name="Sign Slider Fail">
  	<parameter name="Demo_Filters_Fail" value="Windows 10"/>
  	<parameter name="browser" value="Chrome73x64"/>
  		<classes>
  			<class name="suite.UAT_Filter_Slider_Fail_Test"/>
   		</classes>
  </test>
 
</suite> 
